 /* General Styles */
 body {
    background-image: url('https://images.unsplash.com/photo-1506748686214-9ac83d39fa7f?crop=entropy&cs=tinysrgb&fit=max&ixid=MnwzNjUyOXwwfDF8c2VhY2h8MXx8c2VhdHVyYWwlMjBmb3Jlc3R8ZW58MHx8fHwxNjg2Njg5MTg0&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    background: linear-gradient(to right, rgba(126, 34, 206, 0.8), rgba(236, 72, 153, 0.8), rgba(220, 38, 38, 0.8));
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.img-container img {
    width: 6rem;
    height: 6rem;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 1.5rem;
}

.title-container {
    position: relative;
    overflow: hidden;
}

.title-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.title-container h2 {
    font-size: 1.25rem;
    font-style: italic;
    color: #fde68a;
    margin-top: 0.5rem;
    white-space: nowrap;
    display: inline-block;
    animation: scrollText 6s linear infinite;
}

/* Keyframes to create the scrolling effect */
@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

     /* Custom CSS for Hover Effect */
     .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-overlay {
    transition: transform 0.3s ease-in-out;
}

.card-img-overlay:hover {
    transform: scale(1.1);
}


/* Dark Mode Styles */
.dark-mode {
    background-color: #282a36;
    color: #f8f8f2;
}

.dark-mode .header {
    background: linear-gradient(to right, #44475a, #6272a4);
}

/* Override text color in these sections for dark mode */
.dark-mode .card.bg-light .card-body,
.dark-mode .list-group-item {
    color: black;
    background-color: #f8f9fa;
}

/* Progress Bar Styles */
.progress {
    height: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress-bar {
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}